<div class="row panel open-panel">
  <div class="pay-body">
    <div class="col-sm-6">
      <h3 class="red">Checkout Options</h3>

      <div class="checkbox">
        <label class="check-box">
          Continue As Registered User
          <input type="checkbox" checked="checked">
          <span class="check-box--mark"></span>
        </label>
      </div>
      <div class="checkbox">
        <label class="check-box">
          Guest Checkout
          <input type="checkbox" checked="checked">
          <span class="check-box--mark"></span>
        </label>
      </div>
      <br>
      <br>
      <br>

      <div class="form-group">
        By Creating an account you will be able to shop faster, be up to date on an order status, and keep track of the
        orders you
        have previously made.
      </div>
      <br>
      <br>

      <button type="submit" class="btn btn-muahh">Continue</button>

    </div>
    <div class="col-sm-6">
      <h3 class="red">I am a returning Customer</h3>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="form-check">
        <label class="check-box">
          Remember me
          <input type="checkbox" checked="checked">
          <span class="check-box--mark"></span>
        </label>
      </div>
      <div class="form-group">
        <a class="red" href="#">Forgot Password</a>
      </div>
      <button type="submit" class="btn btn-muahh">Continue</button>
    </div>
  </div>
</div>