<div id="completeThisLook" class="tabcontent">
  <div class="product-discription">
    <!-- <h1 class="red">Recently Viewed</h1> -->
    <div class="row">
      <div class="col-xs-12">
        <owl-carousel class="complete-this-look" [options]="{items: 6, margin: 10, dots: false, navigation: true}"
          [items]="recentProductViewed" [carouselClasses]="['owl-theme', 'sliding']">
          <div class="item" *ngFor="let item of recentProductViewed;let i = index">
            <comp-productCumImage [productDetail]="item" [productImagePath]="item.thumbnail" [productPrice]="item?.variations[0]?.price"
              [productName]="item.name"></comp-productCumImage>
          </div>
        </owl-carousel>
      </div>
    </div>
  </div>
</div>