<div class="body-wrapper top-space-delivery contact-component">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <img src="/assets/contact.jpg" class="img-responsive" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <div class="head-content">
              <h1>Delivery Information</h1>
              <p>
                Firstly a huge hello from all the team at Boux Avenue, we are a friendly bunch and would love to hear from you.
              </p>
            </div>
        </div>
      </div>
      <div class="row">
       
        <div class="col-sm-12">
          <p>Content goes here</p>
        </div>
  
  
      </div>
    </div>
    <!-- <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="red text-uppercase">Contact</h2>
      <hr>
      <h3>Overview</h3>
      <p>
       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <p>
        As referred to in these Site Rules, "Victoria's Secret" refers to Victoria's Secret Direct Brand Management, LLC, or Victoria's
        Secret Stores Brand Management, Inc., and other companies affiliated with these companies.
      </p>
    </div>  </div> -->
  </div>