<div class="row panel open-panel">
  <div class="pay-body">
      <div class="col-sm-12">
          <h3 class="red">Please select the Preferred Delivery method to use on this Order</h3>
      </div>
      <div class="col-sm-6">
          <h4>Free Delivery</h4>
          <div class="radio">
              <label class="radio-box">
                  Account - <span class="red"><i class="fa fa-gbp"></i> 0</span>
                  <input type="radio" checked="checked" name="radio">
                  <span class="radio-mark"></span>
              </label>
          </div>
          <h4>Next day Delivery</h4>
          <div class="radio">
              <label class="radio-box">
                  Next day Delivery - <span class="red"><i class="fa fa-gbp"></i> 0</span>
                  <input type="radio" checked="checked" name="radio">
                  <span class="radio-mark"></span>
              </label>
          </div>

      </div>
      <div class="col-sm-6">
          <h4>
              Share any additional delivery information below
          </h4>
          <div class="form-group">
              <label for="comment">Comment:</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
      </div>
  </div>
</div>