<div id="delivery" class="tabcontent">
  <div class="product-discription">
      <!-- <h1 class="red">Delivery & Returns</h1> -->
      <div>
          <strong>Delivery options</strong>
      </div>
      <p>We offer the following delivery options, so you can choose how soon your Muahh parcel will arrive:</p>
      <ul class="list-default">
          <li>
              <i class="fa fa-check"></i> Standard UK delivery £3.95 (Free on all orders over £45)</li>
          <li>
              <i class="fa fa-check"></i> Speedy next working day delivery £4.95</li>
          <li>
              <i class="fa fa-check"></i> Saturday delivery £6</li>
          <li>
              <i class="fa fa-check"></i> Sunday delivery £6</li>
      </ul>
      <p>
          <strong>Refunds & Exchanges</strong>
          <br> We hope you love Muahh purchase. However, if would like to exchange or return any
          unworn item, you can do so within 28 days of receipt, along with the original tags and your
          receipt.
      </p>
      <p>Return Freepost via Royal Mail</p>
      <p>Simply fill out our exchange/returns form on the back of your dispatch receipt for quick and
          easy returns. Want to know more? Read our delivery and returns page.</p>
  </div>
</div>