<section class="top-space-guide"> 
  <div class="guide-component">
      <div class="container-fluid padlr0">
          <div class="row no-gutters">
              <div class="col-sm-12">
                  <div class="guide-top-banner">
                      <div class="guide-text">Sizing Guide</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row separator"><!-- separator --></div>

      <div class="container-fluid padlr0">
          <div class="row no-gutters">
              <div class="col-sm-12">
                  <div class="are-u-wearing">
                      <h3 class="red guide-heading text-uppercase">
                          <span>
                              Are you Wearing the right size?
                          </span>
                      </h3>
                      <p class="text-center">
                          Did you know only 20% of women wear the right sized bra? If you’re not sure on your size ‘how to measure yourself’ see the
                          correct measurement and videos below are here to help. Watch them, find your fit and if you were one
                          of the 80% of women. Change the way! today!
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row separator"><!-- separator --></div>

      <div class="container">
          <div class="row no-gutters text-center red">
              <div class="our-guide">
      
                  <div class="sizing-guides">
                      <h3 class="red text-uppercase text-center">
                          <span>Our guide on finding your perfect fit</span>
                      </h3>
      
                    <div class="col-sm-3 col-xs-6">
                          <figure class="our-guide-icons">
                              <i class="icon-2 icon-bra"></i>
                              <figcaption>
                                  <i class="ion-upload"></i>
                                  <h2>Bra</h2>
                              </figcaption>
                              <a href=""></a>
                          </figure>
                      </div>
                    <div class="col-sm-3 col-xs-6">
                          <figure class="our-guide-icons">
                              <i class="icon icon-2 icon-underwear">
                                  <span class="path1"></span>
                              </i>
                              <figcaption>
                                  <i class="ion-upload"></i>
                                  <h2>Panties</h2>
                              </figcaption>
                              <a href=""></a>
                          </figure>
                      </div>
                    <div class="col-sm-3 col-xs-6">
                          <figure class="our-guide-icons">
                              <i class="icon-2 icon-swimmer"></i>
                              <figcaption>
                                  <i class="ion-upload"></i>
                                  <h2>Swimwear</h2>
                              </figcaption>
                              <a href=""></a>
                          </figure>
                      </div>
                    <div class="col-sm-3 col-xs-6">
                          <figure class="our-guide-icons">
                              <i class="icon-2 icon-nightweare"></i>
                              <figcaption>
                                  <i class="ion-upload"></i>
                                  <h2>Nightwear</h2>
                              </figcaption>
                              <a href=""></a>
                          </figure>
                      </div>
                  </div>
              </div>
          </div>
      </div>
     
      <div class="row separator"><!-- separator --></div>

      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="video-how-to-measure">
                      <div class="video-panel">
                          <iframe width="100%" height="500px" src="https://www.youtube.com/embed/_8gI0bO6k_o?ecver=1" frameborder="0" allowfullscreen></iframe>
                      </div>
                      <div class="video-text-panel text-center">
                          <h3 class="red text-uppercase"><span>How To Measure Yourself</span></h3>
                          <p>Four out of five women wear the wrong sized bra. Make sure you're not one of them!</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row separator"><!-- separator --></div>
      <div class="container-fluid padlr0">
          <div class="row no-gutters text-center">
              <div class="col-sm-12">
                  <div class="read-the-blog">                
                      <h3 class="red guide-heading text-uppercase"><span>Read The Blog</span></h3>
                      <a class="guide-bottom-banner" href="#" onclick="alert('Read The Blog')">
                        <img src="/assets/banner-guide.jpg" 
                        srcset="assets/banner-guide-sm.jpg 1000w, 
                        /assets/banner-guide.jpg 2000w" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
