<div class="muahh-term-condition">
    <div class="">
      <h2>Privacy Policy</h2>
      <!-- <h3>Overview</h3>
      <p>
        The following terms, conditions, and notices ("Site Rules") apply to all visitors or users of this website, and of microsites,
        mobile websites or mobile applications of our brands and lines of business (e.g., Victoria's Secret, Victoria's Secret
        Pink, and Pink Nation) that expressly adopt these Site Rules (collectively, the "Site"). We may refer to our brands
        and lines of business as "we," "us," or "our" throughout the Site Rules. By using this Site, you agree to be bound
        by these rules and regulations, as they may be modified by us at any time and posted on this Site. In the event of
        a violation of these Site Rules, we reserve the right to seek all remedies available by law and in equity.
      </p>
      <p>
        As referred to in these Site Rules, "Victoria's Secret" refers to Victoria's Secret Direct Brand Management, LLC, or Victoria's
        Secret Stores Brand Management, Inc., and other companies affiliated with these companies.
      </p> -->
    </div>
  </div>