<div class="body-wrapper top-space-contact contact-component">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <img src="/assets/contact.jpg" class="img-responsive" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <div class="head-content">
              <h1>Ethical Trading</h1>
              <p>
                Firstly a huge hello from all the team at Boux Avenue, we are a friendly bunch and would love to hear from you.
              </p>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
            <div class="email-wrapper">
              <h3>General Customer Enquiries</h3>
              <div>Visit our <a href="#">Help Centre</a></div>
              <div>Or email us at service@global-e.com</div>
              <div>Visit our Help Centre</div>
                
              <h3>If you’re e-mailing us about an order, please include either:</h3>
              
              <ul class="list">
                <li>your order number</li>
                <li>your name</li>
                <li>complete address on the order</li>
              </ul>
            </div>
        </div>
        <div class="col-sm-4">
  
            <div class="email-wrapper">
                <h3>General Customer Enquiries</h3>
              <div>Visit our <a href="#">Help Centre</a></div>
              <div>Or email us at service@global-e.com</div>
              <div>Visit our Help Centre</div>
                
              <h3>If you’re e-mailing us about an order, please include either:</h3>
              
              <ul class="list">
                <li>your order number</li>
                <li>your name</li>
                <li>complete address on the order</li>
              </ul>
            </div>
       
        </div>
        <div class="col-sm-4">
            <div class="email-wrapper">
              <h3>General Customer Enquiries</h3>
              <div>Visit our <a href="#">Help Centre</a></div>
              <div>Or email us at service@global-e.com</div>
              <div>Visit our Help Centre</div>
                
              <h3>If you’re e-mailing us about an order, please include either:</h3>
              
              <ul class="list">
                <li>your order number</li>
                <li>your name</li>
                <li>complete address on the order</li>
              </ul>
            </div>
        </div>
  
      </div>
    </div>
  </div>