<br>
<br>
<br>
<br>
<br>
<br>
<br>
<table width="90%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" class="product-confirmation body-wrapper">
  <tbody>
    <tr>
      <td>
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td valign="top" align="left">
                <b>
                  Order Placed:
                </b>
                4 September 2018
              </td>
            </tr>
            <tr>
              <td valign="top" align="left">
                <b>Amazon.in order number:</b>
                406-4324109-1155505
              </td>
            </tr>
            <tr>
              <td valign="top" align="left">
                <b>Order Total:
                  <span style="text-decoration: inherit; white-space: nowrap;"><span class="currencyINR">&nbsp;&nbsp;</span><span
                      class="currencyINRFallback" style="display:none">Rs. </span>1,499.00</span></b>
              </td>
            </tr>
          </tbody>
        </table>
        <br>

        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
          <tbody>
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="3" cellpadding="0" align="center" style="border:2px solid #000000; padding: 5px;">
                  <tbody>
                    <tr class="inner-table">
                      <td valign="top" colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="5">
                          <tbody>
                            <tr bgcolor="#ffffff">
                              <td>
                                <b class="sans">
                                    Dispatched on 5 September 2018
                                  </b>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr class="inner-table">
                      <td bgcolor="#ffffff" valign="top" colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="2">
                          <tbody>
                            <tr valign="top">
                              <td width="100%">
                                <table border="0" cellspacing="0" cellpadding="2" align="right">
                                  <tbody>
                                    <tr valign="top">
                                      <td align="right">
                                        &nbsp;
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table border="0" cellspacing="2" cellpadding="0" width="100%">
                                  <tbody>
                                    <tr valign="top">
                                      <td valign="top">
                                        <b>Items Ordered</b>
                                      </td>
                                      <td align="right" valign="top">
                                        <b>Price</b>
                                      </td>
                                    </tr>
                                    <tr>
                                      <input type="hidden" name="ppnklqklnjorqw" value="1">
                                      <td colspan="1" valign="top">
                                        1 of:
                                        <i>Activewear strappy crop top

                                        </i><br>
                                        <span class="tiny">
                                          Sold by: Appario Retail Private Ltd (<a href="http://www.amazon.in/gp/help/seller/at-a-glance.html/ref=od_sold_by_link?ie=UTF8&amp;isAmazonFulfilled=1&amp;marketplaceSeller=1&amp;orderID=406-4324109-1155505&amp;seller=A14CZOWI0VEHLG">seller
                                            profile</a>)
                                          <br>
                                          <br>
                                          <br> Serial Number:
                                        </span>
                                      </td>
                                      <td align="right" valign="top" colspan="2">
                                        <span style="text-decoration: inherit; white-space: nowrap;"><span class="currencyINR">&nbsp;&nbsp;</span><span
                                            class="currencyINRFallback" style="display:none">Rs. </span>1,499.00</span><br>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <br>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr class="inner-table">
                      <td bgcolor="#ffffff" valign="top" colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="2">
                          <tbody>
                            <tr>
                              <td>
                                <b>
                                  Delivery Address:
                                </b>
                                <br>
                                <div class="displayAddressDiv">
                                  <ul class="displayAddressUL">
                                    <li class="displayAddressLI displayAddressFullName">Santosh thakur</li>
                                    <li class="displayAddressLI displayAddressAddressLine1">4/45, 3nd Floor, Cheap Flights
                                      Fare</li>
                                    <li class="displayAddressLI displayAddressAddressLine2">w.e.a Karol Bagh, new Delhi</li>
                                    <li class="displayAddressLI displayAddressCityStateOrRegionPostalCode">NEW DELHI, DELHI
                                      110005</li>
                                    <li class="displayAddressLI displayAddressCountryName">India</li>
                                  </ul>
                                </div>

                                <br><b>
                                  Delivery Option:
                                </b>

                                <br> One-Day Delivery at Rs. 100. FREE with Prime
                                <br>

                              </td>
                              <td align="right">
                                <table border="0" cellpadding="0" cellspacing="1">

                                  <tbody>
                                    <tr valign="top">
                                      <td nowrap="nowrap" align="right">Item(s) Subtotal:</td>
                                      <td nowrap="nowrap" align="right"><span style="text-decoration: inherit; white-space: nowrap;"><span
                                            class="currencyINR">&nbsp;&nbsp;</span><span class="currencyINRFallback" style="display:none">Rs.
                                            </span>1,499.00</span></td>
                                    </tr>

                                    <tr valign="top">
                                      <td nowrap="nowrap" align="right">Shipping:</td>
                                      <td nowrap="nowrap" align="right"><span style="text-decoration: inherit; white-space: nowrap;"><span
                                            class="currencyINR">&nbsp;&nbsp;</span><span class="currencyINRFallback" style="display:none">Rs.
                                            </span>0.00</span></td>
                                    </tr>

                                    <tr valign="top">
                                      <td nowrap="nowrap" align="right">&nbsp;</td>
                                      <td nowrap="nowrap" align="right">-----</td>
                                    </tr>

                                    <tr valign="top">
                                      <td nowrap="nowrap" align="right">Total:</td>
                                      <td nowrap="nowrap" align="right"><span style="text-decoration: inherit; white-space: nowrap;"><span
                                            class="currencyINR">&nbsp;&nbsp;</span><span class="currencyINRFallback" style="display:none">Rs.
                                            </span>1,499.00</span></td>
                                    </tr>

                                    <tr valign="top">
                                      <td nowrap="nowrap" align="right">&nbsp;</td>
                                      <td nowrap="nowrap" align="right">-----</td>
                                    </tr>

                                    <tr valign="top">
                                      <td nowrap="nowrap" align="right"><b>Total for this Delivery:</b></td>
                                      <td nowrap="nowrap" align="right"><b><span style="text-decoration: inherit; white-space: nowrap;"><span
                                              class="currencyINR">&nbsp;&nbsp;</span><span class="currencyINRFallback" style="display:none">Rs.
                                              </span>1,499.00</span></b></td>
                                    </tr>

                                    <tr valign="top">
                                      <td nowrap="nowrap" align="right">&nbsp;</td>
                                      <td nowrap="nowrap" align="right">-----</td>
                                    </tr>
                                  </tbody>
                                </table>

                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
          <tbody>
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="3" cellpadding="0" align="center">
                  <tbody>
                    <tr bgcolor="#ffffff" class="inner-table">
                      <td valign="top" colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="5">
                          <tbody>
                            <tr bgcolor="#ffffff">
                              <td>
                                <b class="sans">Payment information</b>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr class="inner-table">
                      <td bgcolor="#ffffff" valign="top" colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="2">
                          <tbody>
                            <tr valign="top">
                              <td width="100%">
                                <table border="0" cellspacing="0" cellpadding="2" align="right">
                                  <tbody>
                                    <tr valign="top">
                                      <td align="right">
                                        <table border="0" cellpadding="0" cellspacing="1">
                                          <tbody>
                                            <tr valign="top">
                                              <td nowrap="nowrap" align="right">Item(s) Subtotal:</td>
                                              <td nowrap="nowrap" align="right"><span style="text-decoration: inherit; white-space: nowrap;"><span
                                                    class="currencyINR">&nbsp;&nbsp;</span><span class="currencyINRFallback"
                                                    style="display:none">Rs. </span>1,499.00</span></td>
                                            </tr>

                                            <tr valign="top">
                                              <td nowrap="nowrap" align="right">Shipping:</td>
                                              <td nowrap="nowrap" align="right"><span style="text-decoration: inherit; white-space: nowrap;"><span
                                                    class="currencyINR">&nbsp;&nbsp;</span><span class="currencyINRFallback"
                                                    style="display:none">Rs. </span>0.00</span></td>
                                            </tr>

                                            <tr valign="top">
                                              <td nowrap="nowrap" align="right">&nbsp;</td>
                                              <td nowrap="nowrap" align="right">-----</td>
                                            </tr>

                                            <tr valign="top">
                                              <td nowrap="nowrap" align="right">Total:</td>
                                              <td nowrap="nowrap" align="right"><span style="text-decoration: inherit; white-space: nowrap;"><span
                                                    class="currencyINR">&nbsp;&nbsp;</span><span class="currencyINRFallback"
                                                    style="display:none">Rs. </span>1,499.00</span></td>
                                            </tr>

                                            <tr valign="top">
                                              <td nowrap="nowrap" align="right">&nbsp;</td>
                                              <td nowrap="nowrap" align="right">-----</td>
                                            </tr>

                                            <tr valign="top">
                                              <td nowrap="nowrap" align="right"><b>Grand Total:</b></td>
                                              <td nowrap="nowrap" align="right"><b><span style="text-decoration: inherit; white-space: nowrap;"><span
                                                      class="currencyINR">&nbsp;&nbsp;</span><span class="currencyINRFallback"
                                                      style="display:none">Rs. </span>1,499.00</span></b></td>
                                            </tr>
                                          </tbody>
                                        </table>

                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <b>Payment Method: </b>
                                <br> Visa
                                 | Last digits: 0648
                                <br>
                                <br>
                                <b>Billing Address:</b>

                                <div class="displayAddressDiv">
                                  <ul class="displayAddressUL">
                                    <li class="displayAddressLI displayAddressFullName">Santosh Thakur</li>
                                    <li class="displayAddressLI displayAddressAddressLine1">10A,Vikas Nagar Extension,</li>
                                    <li class="displayAddressLI displayAddressAddressLine2">Near Rajdhani public school</li>
                                    <li class="displayAddressLI displayAddressCityStateOrRegionPostalCode">NEW DELHI, DELHI
                                      110059</li>
                                    <li class="displayAddressLI displayAddressCountryName">India</li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr class="inner-table">
                      <td bgcolor="#ffffff" valign="top" colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="2">
                          <tbody>
                            <tr>
                              <td valign="top">
                                <div style="text-align:left;"><b>Credit Card transactions</b></div>
                              </td>
                              <td align="right">
                                <table border="0" cellpadding="0" cellspacing="1">
                                  <tbody>
                                    <tr valign="top">
                                      <td nowrap="nowrap" align="right">
                                        Visa ending in 0648:&nbsp;5 September 2018:
                                      </td>
                                      <td nowrap="nowrap" align="right" colspan="2">
                                        <span style="text-decoration: inherit; white-space: nowrap;"><span class="currencyINR">&nbsp;&nbsp;</span><span
                                            class="currencyINRFallback" style="display:none">Rs. </span>1,499.00</span>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>