<div id="sizeChart" class="tabcontent">
    <!-- <span onclick="this.parentElement.style.display='none'" class="topright">&times</span> -->
    <div class="product-discription">
        <h1 class="red">Size & Fit
            <small>Bra Sizing Guide</small>
        </h1>
        <div>
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Xx</th>
                        <th>28</th>
                        <th>30</th>
                        <th>32</th>
                        <th>34</th>
                        <th>36</th>
                        <th>38</th>
                        <th>40</th>
                        <th>42</th>
                        <th>44</th>
                        <th>46</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <td>AA</td>
                        <td>AA</td>
                        <td>AA</td>
                        <td>AA</td>
                        <td>AA</td>
                        <td>AA</td>
                        <td>AA</td>
                        <td>AA</td>
                        <td>AA</td>
                        <td>AA</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>A</td>
                        <td>A</td>
                        <td>A</td>
                        <td>A</td>
                        <td>A</td>
                        <td>A</td>
                        <td>A</td>
                        <td>A</td>
                        <td>A</td>
                        <td>A</td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>B</td>
                        <td>B</td>
                        <td>B</td>
                        <td>B</td>
                        <td>B</td>
                        <td>B</td>
                        <td>B</td>
                        <td>B</td>
                        <td>B</td>
                        <td>B</td>

                    </tr>
                    <tr>
                        <td>3</td>
                        <td>C</td>
                        <td>C</td>
                        <td>C</td>
                        <td>C</td>
                        <td>C</td>
                        <td>C</td>
                        <td>C</td>
                        <td>C</td>
                        <td>C</td>
                        <td>C</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>D</td>
                        <td>D</td>
                        <td>D</td>
                        <td>D</td>
                        <td>D</td>
                        <td>D</td>
                        <td>D</td>
                        <td>D</td>
                        <td>D</td>
                        <td>D</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>DD</td>
                        <td>DD</td>
                        <td>DD</td>
                        <td>DD</td>
                        <td>DD</td>
                        <td>DD</td>
                        <td>DD</td>
                        <td>DD</td>
                        <td>DD</td>
                        <td>DD</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>E</td>
                        <td>E</td>
                        <td>E</td>
                        <td>E</td>
                        <td>E</td>
                        <td>E</td>
                        <td>E</td>
                        <td>E</td>
                        <td>E</td>
                        <td>E</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>F</td>
                        <td>F</td>
                        <td>F</td>
                        <td>F</td>
                        <td>F</td>
                        <td>F</td>
                        <td>F</td>
                        <td>F</td>
                        <td>F</td>
                        <td>F</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>G</td>
                        <td>G</td>
                        <td>G</td>
                        <td>G</td>
                        <td>G</td>
                        <td>G</td>
                        <td>G</td>
                        <td>G</td>
                        <td>G</td>
                        <td>G</td>

                    </tr>
                    <tr>
                        <td>9</td>
                        <td>GG</td>
                        <td>GG</td>
                        <td>GG</td>
                        <td>GG</td>
                        <td>GG</td>
                        <td>GG</td>
                        <td>GG</td>
                        <td>GG</td>
                        <td>GG</td>
                        <td>GG</td>

                    </tr>
                    <tr>
                        <td>10</td>
                        <td>H</td>
                        <td>H</td>
                        <td>H</td>
                        <td>H</td>
                        <td>H</td>
                        <td>H</td>
                        <td>H</td>
                        <td>H</td>
                        <td>H</td>
                        <td>H</td>

                    </tr>
                </tbody>
            </table>

            <div>
                <a target="_blank" href="../assets/size-charts.pdf">Click Here to know more about sizes</a>
            </div>
        </div>
    </div>
</div>