<main class="top-space-offers">
<div class="offers-component body-wrapper">

    <div class="container-fluid body-wrapper">
        <div class="muahh-offer-zone">
            <div class="row"> 
                <div class="col-sm-4 col-xs-12">
                    <a onclick="alert('10% Result Display')" href="#"><img class="offersImg" src="assets/banner10.jpg" alt="Banner" /></a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <a onclick="alert('25% Result Display')" href="#"><img class="offersImg" src="assets/banner25.jpg" alt="Banner" /></a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <a onclick="alert('50% Result Display')" href="#"><img class="offersImg" src="assets/banner50.jpg" alt="Banner" /></a>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid body-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h1>Heading</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">One</div>
            <div class="col-sm-4">Two</div>
            <div class="col-sm-4">Three</div>
        </div>
    </div>


</div>
</main>